:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}

.banner__button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sociale-list {
  display: flex;
}

.sociale-list__item:not(:first-child) {
  margin-left: 10px;
}

.sociale-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.sociale-list__icon--grey {
  fill: #afb1b8;
  transition-property: fill;
}

.sociale-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.sociale-list__link--transparent {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-list__link--transparent:hover, .sociale-list__link--transparent:focus {
  background-color: var(--accent-color);
}

.sociale-list__link--transparent:hover .sociale-list__icon--grey,
.sociale-list__link--transparent:focus .sociale-list__icon--grey {
  fill: #ffffff;
}

.sociale-list__link--dark {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-list__link--dark:hover, .sociale-list__link--dark:focus {
  background: var(--accent-color);
}

.logo,
.logo--white,
.logo--black {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 0px;
}

.logo {
  color: var(--accent-color);
}

.logo--white {
  color: #ffffff;
}

.logo--black {
  color: #000000;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close:hover, .modal__button--close:focus {
  fill: var(--accent-color);
}

.modal-form__wrapper {
  display: block;
}

.modal-form__head {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__type {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__box {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__input {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__link {
  margin-left: 7px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__contract-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__feedback:focus {
  border-color: var(--accent-color);
}

.modal-form__checkbox:checked + .checkbox-box {
  background-color: var(--accent-color);
  background-image: url(../images/svg/iconcheck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: transparent;
}

.modal-form__checkbox:checked + .checkbox-box:focus + .checkbox-box {
  border-color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 14px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-box {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__button--submit {
  display: block;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: transparent;
  margin: 0 auto;
}

.header .container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
  justify-content: space-between;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.contacts-list__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__link:hover .icon-envelope,
.contacts-list__link:hover .icon-envelope,
.contacts-list__link:hover .icon-phone,
.contacts-list__link:hover .icon-phone, .contacts-list__link:focus .icon-envelope,
.contacts-list__link:focus .icon-envelope,
.contacts-list__link:focus .icon-phone,
.contacts-list__link:focus .icon-phone {
  fill: var(--accent-color);
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope:hover,
.icon-envelope:focus {
  fill: var(--accent-color);
}

.icon-phone:hover,
.icon-phone:focus {
  fill: var(--accent-color);
}

.banner {
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;
}

.banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.advantages__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.advantages__list {
  display: flex;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:first-child) {
  margin-left: 30px;
}

.advantages__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.works {
  padding-top: 0px;
}

.works__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.works-list__item {
  position: relative;
}

.works-list__description {
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team-content {
  padding: 30px 0px;
}

.sociale-list__team {
  justify-content: center;
}

.clients {
  background: #ffffff;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list__item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__link:hover .icon-logo, .clients-list__link:focus .icon-logo {
  fill: var(--accent-color);
}

.icon-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
}

.footer {
  left: 0px;
  background: #2f303a;
  padding: 60px 0px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

.footer__input:focus {
  border-color: var(--accent-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px;
  padding-left: 29px;
  margin-left: 12px;
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__adress {
  color: #ffffff;
}

.footer-contacts__mail, .footer-contacts__tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__adress, .footer-contacts__mail, .footer-contacts__tel {
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__adress:hover, .footer-contacts__adress:focus, .footer-contacts__mail:hover, .footer-contacts__mail:focus, .footer-contacts__tel:hover, .footer-contacts__tel:focus {
  color: var(--accent-color);
}

.footer-sociale {
  margin-left: 70px;
}

.footer-sociale__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription {
  margin-left: 93px;
}

.subscription__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.icon-submit {
  margin-left: 10px;
}

.portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-img {
  display: block;
  width: 100%;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:first-child) {
  margin-left: 8px;
}

.filter-list__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  outline: none;
  padding: 6px 22px;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.type-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.type-list__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.type-list__item:hover, .type-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.type-list__item:hover .type-list__description,
.type-list__item:hover .type-list__description, .type-list__item:focus .type-list__description,
.type-list__item:focus .type-list__description {
  transform: translateY(0%);
}

.type-list__link {
  display: block;
  color: #757575;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.type-list__card {
  position: relative;
  overflow: hidden;
}

.type-list__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.type-list__cover {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.type-list__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.type-list__text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */