.portfolio {
  border-bottom: 1px solid #ececec;
}
.portfolio-img {
  display: block;
  width: 100%;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item:not(:first-child) {
    margin-left: 8px;
  }
  &__button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;

    border-radius: 4px;
    border-color: transparent;
    outline: none;

    padding: 6px 22px;

    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--accent-color);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.type-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-top: 30px;
    margin-left: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

      .type-list__description,
      .type-list__description {
        transform: translateY(0%);
      }
    }
  }
  &__link {
    display: block;

    color: #757575;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  &__card {
    position: relative;
    overflow: hidden;
  }
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

    transform: translateY(100%);

    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    padding-left: 24px;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;

    font-size: 18px;
    line-height: 1.56;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__cover {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-top: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: 0;
  }
}
