.works {
  padding-top: 0px;

  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  &-list {
    display: flex;
    justify-content: space-between;

    &__item {
      position: relative;
    }
    &__description {
      position: absolute;
      width: 100%;
      bottom: 0px;

      font-weight: bold;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      background: rgba(47, 48, 58, 0.8);

      padding-top: 27px;
      padding-bottom: 27px;
    }
  }
}
