.modal-form {
  &__wrapper {
    display: block;
  }
  &__head {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.15;
    color: #212121;

    margin-bottom: 12px;
  }
  &__type {
    display: block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  &__box {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  &__input {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    margin-top: 4px;
    outline: none;

    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__link {
    margin-left: 7px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__contract-link {
    font-size: 14px;
    line-height: 1.71;
    text-decoration-line: underline;
    color: var(--accent-color);
  }
  &__feedback {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;

    margin-top: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__checkbox:checked + .checkbox-box {
    background-color: var(--accent-color);
    background-image: url(../images/svg/iconcheck.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    border-color: transparent;

    &:focus + .checkbox-box {
      border-color: var(--accent-color);
    }
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 14px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-box {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal__button--submit {
  display: block;
  padding: 10px 55px;

  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
  border: transparent;

  margin: 0 auto;
}
