.sociale-list {
  display: flex;
  &__item:not(:first-child) {
    margin-left: 10px;
  }
  &__icon {
    width: 20px;
    height: 20px;

    fill: #ffffff;

    &--grey {
      fill: #afb1b8;
      transition-property: fill;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);

    &--transparent {
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
      &:hover .sociale-list__icon--grey,
      &:focus .sociale-list__icon--grey {
        fill: #ffffff;
      }
    }
    &--dark {
      transition-property: background;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background: var(--accent-color);
      }
    }
  }
}
