html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
